html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
    background: url(../OPG-8.jpg);
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
    font-family: montserrat;
}

.nav{
    position:  fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20%;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.795);

}

.menu{
    float: right;
    line-height: 50px;
    margin: 0 6em;

}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;

}
.menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: lighter;
    padding: 0 20px;
}
a{
    font-size: 15px;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px;


}

ul li:nth-child(8) a{
    color: #297a71;
    border: 1px solid hsl(197, 57%, 66%);
    padding:  10px 20px;
    border-radius: 4px;
}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


}
.header h1{
    font-family:Trebuchet MS;
    color: #fff;
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 8px;
}
.header p{
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
}
.header button{
    color: rgb(19, 18, 18);
    background: #e7eeed;
    padding: 18px 38px;
    border: lightslategray;
    font-size: 14px;
    margin-top: 40px;

}
header{
    padding: 20px;
    margin-top: 0px;
    color: #fff;
    background-color: #687985;
    text-align: center;
}
